#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=17) ;
  filter: alpha(opacity=17) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Loading {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-insegnamenti {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}