#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Panel_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 29px 29px 29px 29px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  width: 308px;
  height: 457px;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=17);
  filter: alpha(opacity=17);
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Loading {
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D62008;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D62008;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D62008;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D62008;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 142px;
  height: 31px;
  -ms-transform: rotate(0.0deg);
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b #s-insegnamenti {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-07c03916-d4bf-48c1-ad96-8039fae0037b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}