#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Flat-button-light {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 246px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Pin-red {
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 7px 0px 0px 7px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 35px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 7px 7px 0px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 11px;
  width: 127px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Triangle_4 {
  -ms-transform: rotate(180.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Label_440 {
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Ellipse_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Ellipse_2 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}