#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Pin-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Triangle_4 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Label_440 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Ellipse_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-15374d4a-724c-4dee-ac32-1b78cb9acfeb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}