#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 #s-AulaMagna {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 #s-Aula {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 #s-Orario {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 #s-oreNove {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 #s-numeroLista {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 #s-Posizione {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 #s-Giorno {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 #s-orario {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 #s-prenotazioni {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-69b203d5-0d35-48eb-8d5a-accbf5a80942 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}