#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Notifica_Esami {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-novembre {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-nov {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-ottobre {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-ott {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-settembre {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-set {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-uniboh {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Image_144 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-agenda {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-tornaAlCalendario {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Notifica_Tasse {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-751bb932-ff64-4c2e-bd30-da2ce6d41380 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}