#s-a2d00218-19b7-4a16-a049-96707270616f #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Two-line-item_28 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Icon_phone_18 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Two-line-item_29 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Icon_phone_19 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Two-line-item_30 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Icon_phone_20 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Two-line-item_31 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Icon_phone_21 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Two-line-item_32 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Icon_phone_22 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Two-line-item_33 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Icon_phone_23 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Panel_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-mail {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-write {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-composemail-background {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-mail_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24);
  filter: alpha(opacity=24);
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-poooooint {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D62008;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D62008;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D62008;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D62008;
  border-radius: 10px 10px 10px 10px;
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a2d00218-19b7-4a16-a049-96707270616f #s-Image_5 {
  -ms-transform: rotate(320.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a2d00218-19b7-4a16-a049-96707270616f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}