#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Flat-button-light {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 54px;
  height: 14px;
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Flat-button-light_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 54px;
  height: 14px;
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-bennerNero {
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Flat-button-light_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 54px;
  height: 14px;
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Flat-button-light_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 54px;
  height: 14px;
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab #s-esami {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fa57453c-9785-42e1-abf1-f7106547aaab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}