#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Panel_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 17px 17px 17px 17px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  width: 320px;
  height: 174px;
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Panel_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 17px 17px 17px 17px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  width: 320px;
  height: 174px;
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Panel_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 17px 17px 17px 17px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  width: 320px;
  height: 174px;
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c #s-insegnamenti {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fad3aa3e-338f-4d70-ab2f-091cbda4e48c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}